{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>My Ritual Game</h1>
    <p class="lead">Lets get started with rituals!</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            To get started with a ritual, join in on a game!
        </p>
        <p>
            But first, we need your name:
        </p>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Username" />
        </div>
        <hr />
        <table class="table">
            {% for game in games %}
            <tr>
                <td>{{game.name}}</td>
                <td><a class="btn btn-success" href="http://flask.pocoo.org/docs/">Join &raquo;</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
